<!doctype html>
<html lang=en>
	<head>
		<title>{% block "title" %}Gym Program App{% endblock "title" %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1">
		<style>
		header {
			margin: 0;
			background-color: lightgrey;
		}
		a {
			color: black;
			text-decoration: none;
		}
		a:hover {
			color: blue;
			text-decoration: none;
		}
		span{
			float: right;
		}
		</style>
	</head>
	<body>
	 <header>
	 	 <a href="/">Etusivulle</a>
	 	 <a href="/program">Ohjelmasivulle</a>
	 	 <span>
			 {% if user.is_authenticated %}
			 {{ user.username }}
			 <a href="/logout">Log out</a>
			 {% else %}
			 <p>You are not logged in</p>
			 <a href="/login">Log In</a>
			 {% endif %}
	 	 </span>
	 </header>
	 
	 {% block "content" %}
	  <h1> Gym program </h1>
	 {% endblock "content" %}
	</body>
</html>
